<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\ArianaAPI.Web.exe" 
                  arguments=""
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://localhost:18080" />
          
          <environmentVariable name="Database__Server" value="localhost" />
          <environmentVariable name="Database__DatabaseName" value="Permanent" />
          <environmentVariable name="Database__IntegratedSecurity" value="false" />
          <environmentVariable name="Database__UserId" value="sa" />
          <environmentVariable name="Database__Password" value="123" />
          
          <environmentVariable name="Server__ApiKey" value="dev-api-key-change-in-production" />
          <environmentVariable name="Jwt__Key" value="dev-only-key-please-change-32chars-min-xxxxxxxxx" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>